@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
body{
  background: url(http://www.baltana.com/files/wallpapers-5/Background-Design-High-Definition-Wallpaper-16244.jpg);
  background-size: auto;
  font-family: "Lexend Zetta";

  padding: 100%;
}

section{
border: 10px solid #aaa;
border-top: 50px;
border-bottom: 50px;
border-left: 150px;
border-right:150px;
}


h1{
 border-box: 20px;
  color: #a00;
}


form{background-color: #eee;
background-size: 100%;
  border: 2px solid #000;

}
