@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

body{
  background: url(http://www.baltana.com/files/wallpapers-5/Background-Design-High-Definition-Wallpaper-16244.jpg);
  background-size: cover;
  font-family: "Lexend Zetta";
  border: 5px solid #000;
  padding: 50px;
a
}
form{background-color: #ddd;
background-size: 100%;
  border: 2px dashed #000;

}
h1{
  color: #a00;
}
